<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.hwyl.sexytopo">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/laser_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".control.activity.TableActivity"
            android:label="@string/title_activity_table" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".control.activity.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".control.activity.PlanActivity"
            android:label="@string/title_activity_plan" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".control.activity.ExtendedElevationActivity"
            android:label="@string/title_activity_elevation" >
        </activity>
        <activity
            android:name=".control.activity.DeviceActivity"
            android:label="@string/title_activity_device" >
        </activity>
        <activity
            android:name="org.hwyl.sexytopo.control.activity.StartUpActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".control.activity.SurveyActivity"
            android:label="@string/title_activity_survey" >
        </activity>
        <activity
            android:name=".control.activity.GuideActivity"
            android:label="@string/title_activity_guide">
        </activity>

        <service
            android:name=".control.AudioService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".control.activity.CalibrationActivity"
            android:label="@string/title_activity_calibration">
        </activity>

    </application>

</manifest>
