<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".control.SexyTopo"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        >

        <activity
            android:name=".control.activity.TableActivity"
            android:label="@string/title_activity_table"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".control.activity.SystemLogActivity"
            android:label="@string/title_activity_system_log" >
        </activity>
        <activity
            android:name=".control.activity.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".control.activity.PlanActivity"
            android:label="@string/title_activity_plan"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".control.activity.ExtendedElevationActivity"
            android:label="@string/title_activity_elevation"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name=".control.activity.DeviceActivity"
            android:label="@string/title_activity_device" >
        </activity>
        <activity
            android:name="org.hwyl.sexytopo.control.activity.StartUpActivity"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".control.activity.StatsActivity"
            android:label="@string/title_activity_survey" >
        </activity>
        <activity
            android:name=".control.activity.GuideActivity"
            android:label="@string/title_activity_guide">
        </activity>
        <service
            android:name=".control.NewStationNotificationService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <activity
            android:name=".control.activity.DistoXCalibrationActivity"
            android:label="@string/title_activity_calibration">
        </activity>
        <activity
            android:name=".control.activity.TripActivity"
            android:label="@string/action_trip">
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="983f84c823879eb043bce5e8192c1f953c15a85f"
            />
    </application>

</manifest>
